body {
    background-image: linear-gradient(to bottom,hwb(241 73% 9%), darkslateblue);
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height:  100vh;
    
}

form {
  display: inline-flex; 
  background-color: rgb(210, 208, 235); 
  margin: auto;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  padding: 1.5rem 2rem;
  text-align: center;
  
}
/*button styling */
button{
    background-color: rgb(72, 61, 239);
    color: white;
    border-radius: 25px;
    padding: 12px 8px;
    border:none;
}

button:hover, .fileButton:hover, input[type=submit]:hover { 
    background-color: rgb(56, 5, 99);
    color: white;
}

input[type=text], input[type=password], input[type=email], input[type=submit], textarea, .startTime, .endTime{
    margin-bottom: 10px; 
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.myFile {
    display: none;
}

.fileButton {
    padding: 14px 20px;
    background-color: rgb(72, 61, 239);
    border-radius: 25px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    }


.navBarContainer {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    
}

.navbarItems a {
    float: left; 
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}